<ul id="stories-list">
    {{#each story in content}}
        {{#if story.isDisplayable}}
            <li>
                {{story-display story=story}}
            </li>
        {{/if}}
    {{/each}}
</ul>
