<div class="story-inline-display">
    <div class="window-bar">
        <button class="story-inline-close-button" {{action "hideStory" bubbles=false}}>X</button>
    </div>

    <div class="iframe-wrapper">
        <iframe class="story-inline-iframe" src="{{url}}">
        </iframe>
    </div>

    <div class="anti-click-scim"></div>

    <div class="footer-bar">
        <button class="open-story-button" {{action "openStory" bubbles=false}}>Open</button>
    </div>
</div>
